<div class="FooterDiv">
	<ul class="nav justify-content-center">
		<li class="nav-item">
		    <a class="nav-link" href="https://www.linkedin.com/in/george-claridge-6a5a1721b/"><%= inline_svg_tag "linkedin.svg", class: "FooterLogo" %></a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="https://github.com/GeorgeClaridge"><%= inline_svg_tag "github.svg", class: "FooterLogo" %></a>
		</li>
	</ul>
</div>
