/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Colours
#2c786c
#FCF6F5FF
#f9f9f9
*/

/* LOGOS */
.NavLogo {

    width: 80px;
    height: 50px;
    stroke-width: 0.2px;

}

.RubyLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}

.ContactLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}

.BootLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.7px;
    position: relative;
    bottom: 0.12em;

}

.SqlLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}

.SqlLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}

.SvgLogo {

    width: 20px;
    height: 20px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}

.MailLogo {

    width: 25px;
    height: 25px; 
    stroke: #2c786c;
    stroke-width: 0.3px;
    position: relative;
    bottom: 0.12em;

}


.HeaderLogo {
    
    width: 20px;
    height: 20px;
    color: #2c786c;

}

.NoteLogo {

    color: #2c786c;
    width: 20px;
    height: 20px;
}

/* HOVER EFFECTS */
.navbar-brand:hover {

    color:#004445 !important;

}

.HeaderLogo:hover {

    color:#004445 !important;

}

.nav-link:hover {

    color:#004445 !important;

}

.btn-outline-primary {
    color: #2c786c !important;
    border-color: #2c786c !important;
}

.btn-outline-primary:hover, .btn-primary:hover {
    color: #fff !important;
    border-color: #004445 !important;
    background-color: #004445 !important;
}


/* SHADOW EFFECTS */
.navbar {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

}

.card {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

}

.card-header {

    background-color: #2c786c !important;
    color: #fff;

}

/* CARD SPACING */

.card-footer {
    padding-left: 0rem;
    padding-bottom: 0rem;
}

.col {

    padding-bottom: 15px;

}

.col-sm-6 {

    padding-bottom: 15px;

}

.jumbotron {
    padding: 0rem !important;
}

/* COLOUR CHANGES */

.card-title {

    color: #2c786c;

}

body {

    background-color: #f9f9f9;
    color: #343a40;

}

.btn-primary {

    background-color: #2c786c !important;
    border-color: #2c786c !important;

}

.nav-link {

    color: #fff;
    font-size: 1.4rem;
    

}

.navbar-light .navbar-brand {

    color: #2c786c;

}

.FooterDiv {

    background-color: #2c786c;

}

.jumbotron {
    background-color: #fff;
}

.display-4 {
    color: #2c786c;
}

.table .thead-dark th {
    color: #fff;
    background-color: #2c786c;
    border-color: #2c786c;
}

.BorderForm {
    border-top: 1px solid;
    border-color: #2c786c;
}
